In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sbn

In [46]:
series = pd.Series(np.arange(5.0), index = ['a', 'b', 'c', 'd','e'])
series[0:3]

a    0.0
b    1.0
c    2.0
dtype: float64

In [84]:

df = pd.DataFrame(np.arange(25).reshape(5,5),
                 index = ['a', 'b', 'c', 'd', 'e'],
                 columns = ['Italy', 'Spain', 'Germany', 'France', 'Greece'])
df.iloc[:4,0:4]
df.loc[:'d', :'France']

   Italy  Spain  Germany  France
a      0      1        2       3
b      5      6        7       8
c     10     11       12      13
d     15     16       17      18